<html>
<body> 

<h1>Add Item of Menu</h1> 

<div>
	<form th:action="@{'/web/menu/'+${menu.id}}" method="POST"
	      th:object="${form}">
	    <input style="display: none;" type="text" th:field="*{id}">
		<div> 
			<label>Name</label>
			<input type="text" th:field="*{name}" required>
		</div>
		<div> 
			<label>Price</label>
			<input type="text" th:field="*{price}" required>
		</div>
		<button th:if="*{id == null}" type="submit">Add Item</button>
		<button th:if="*{id != null}" type="submit">Modify Item</button>
	</form>
</div>

<p><a th:href="@{'/web/menu/'+${menu.id}}">Back to menu</a></p>	
<p><a href="/web/restaurants">Restaurants list</a></p>  
<p><a href="/web/restaurants?add">Add a restaurant</a></p>  
	
</body> 
</html>