<html>
<body> 

<h1><span th:text="${restaurant.name}">name goes here</span></h1> 

<p>
	Restaurant <span th:text="${restaurant.name}">name goes here</span>
	(id=<span th:text="${restaurant.id}">id goes here</span>)
	is located in <span th:text="${restaurant.location}">location goes here</span>.
</p> 

<p th:if="${restaurant.menu != null}"><a th:href="@{'/web/menu/'+${restaurant.menu.id}}">Menu</a></p>  
<p th:if="${restaurant.menu == null}"><a th:href="@{'/web/menu/'+${restaurant.id}+'?add'}">Add a menu</a></p>  

<hr/>

<p><a href="/web/restaurants">Restaurants list</a></p>  
<p><a href="/web/restaurants?add">Add a restaurant</a></p> 
                    
</body> 
</html>