<html>
<body> 

<h1>Restaurants list</h1> 

<div>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Location</th>
                <th>Id</th>
                <th>Link</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="restaurant : ${restaurants}">
                <td th:text="${restaurant.name}">name goes here</td>
                <td th:text="${restaurant.location}">location goes here</td>
                <td th:text="${restaurant.id}">id goes here</td>
                <td>
                    <a th:href="@{'/web/restaurants/'+${restaurant.id}}">
                        <span th:text="@{'/web/restaurants/'+${restaurant.id}}">link</span>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<hr/>

<p><a href="/web/restaurants">Restaurants list</a></p>  
<p><a href="/web/restaurants?add">Add a restaurant</a></p>  

</body> 
</html>