<html>
<body> 

<h1>Menu - <span th:text="${menu.restaurant.name}">restaurant name goes here</span></h1> 

<div>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Id</th>
                <th>Link</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="menuItem : ${menu.listMenuItem}">
                <td th:text="${menuItem.name}">name goes here</td>
                <td th:text="${menuItem.price}">price goes here</td>
                <td th:text="${menuItem.id}">id goes here</td>
                <td>
                    <a th:href="@{'/web/menuItem/'+${menuItem.id}+'?modify'}">
                        Modify
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<p><a th:href="@{'/web/menuItem/'+${menu.id}+'?add'}">Add a item</a></p>  

<hr/>

<p><a th:href="@{'/web/restaurants/'+${menu.restaurant.id}}">Back to restaurant</a></p>	
<p><a href="/web/restaurants">Restaurants list</a></p>  
<p><a href="/web/restaurants?add">Add a restaurant</a></p>  

</body> 
</html>